In [ ]:
#task 2 - Superstore_USA
1 . load this data in sql and in pandas with a relation in sql  
2 . while loading this data you dont have to create a table manually you can use any automated approach to create a table and load a data in bulk in table 
3 . Find out how return that we ahve recived and with a product id 
4 . try  to join order and return data both in sql and pandas 
5 . Try to find out how many unique customer that we have 
6 . try to find out in how many regions we are selling a product and who is a manager for a respective region 
7 . find out how many different differnet shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset 
8 . Create a new coulmn and try to find our a diffrence between order date and shipment date
9 . base on question number 8 find out for which order id we have shipment duration more than 10 days 
10 . Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well 
11 . Gorup by region and find out which region is more profitable 
12 . Try to find out overalll in which country we are giving more didscount 
13 . Give me a list of unique postal code 
14 . which customer segement is more profitalble find it out . 
15 . try to find out the 10th most loss making product catagory . 
16 . Try to find out 10 top  product with highest margins

In [1]:
# 1 . load this data in sql in pandas


import pandas as pd

In [11]:
"""
    Reading sheet 1 (Orders) from excel in pandas

"""

df_data1 = pd.read_excel('D:/FSDS-iNeuron/3.Resource/31stJulyliveclassPandas/Superstore_USA.xlsx', sheet_name=0)

In [12]:
df_data1.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523

In [13]:
"""
    Reading sheet 2(Returns) from excel in pandas

"""

df_data2 = pd.read_excel('D:/FSDS-iNeuron/3.Resource/31stJulyliveclassPandas/Superstore_USA.xlsx', sheet_name=1)

In [14]:
df_data2.head()

   Order ID    Status
0        65  Returned
1       612  Returned
2       614  Returned
3       678  Returned
4       710  Returned

In [15]:
"""
    Reading sheet 3(Users) from excel in pandas

"""

df_data3 = pd.read_excel('D:/FSDS-iNeuron/3.Resource/31stJulyliveclassPandas/Superstore_USA.xlsx', sheet_name=2)

In [16]:
df_data3

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

In [127]:
# 2 loading data automatically in sql

df_data1.to_csv('D:/FSDS-iNeuron/3.Resource/31stJulyliveclassPandas/Orders_Superstore_USA.csv')
df_data2.to_csv('D:/FSDS-iNeuron/3.Resource/31stJulyliveclassPandas/Returns_Superstore_USA.csv')
df_data3.to_csv('D:/FSDS-iNeuron/3.Resource/31stJulyliveclassPandas/Users_Superstore_USA.csv')

!csvsql --db mysql://root:Root_mysql@localhost:3306/practice --insert Orders_Superstore_USA.csv
!csvsql --db mysql://root:Root_mysql@localhost:3306/practice --insert Returns_Superstore_USA.csv
!csvsql --db mysql://root:Root_mysql@localhost:3306/practice --insert Users_Superstore_USA.csv

C:\Users\Sai\anaconda3\lib\site-packages\agate\table\from_csv.py:74: RuntimeWarning: Error sniffing CSV dialect: Could not determine delimiter
C:\Users\Sai\anaconda3\lib\site-packages\agate\utils.py:285: UnnamedColumnWarning: Column 0 has no name. Using "a".
C:\Users\Sai\anaconda3\lib\site-packages\agate\utils.py:285: UnnamedColumnWarning: Column 0 has no name. Using "a".
C:\Users\Sai\anaconda3\lib\site-packages\agate\utils.py:285: UnnamedColumnWarning: Column 0 has no name. Using "a".

In [17]:
# 3 . Find out how return that we ahve recived and with a product id 

k = pd.DataFrame(df_data1[['Order ID', 'Product Name']])
l = pd.DataFrame(df_data2['Order ID'])
pd.merge(k,l,how='inner')

# It won't be possible to to find product name for all the 'Order Id' in dataset2/ returns sheet because they are not included in df_data1 and hence it is not available
# How ever on programming the inner join (as done on the above) we got 98 'Order ID' to be common in df_data1 and df_data2.

    Order ID                                       Product Name
0       9895              Dixon My First Ticonderoga Pencil, #2
1      13959                                          Avery 493
2      13959                              EcoTonesÂ® Memo Sheets
3      36038                                          Newell 35
4      39490                  Staples SlimLine Pencil Sharpener
..       ...                                                ...
93      7107  Snap-A-WayÂ® Black Print Carbonless Ruled Speed...
94      7107  Recycled Steel Personal File for Standard File...
95     42823                                         Xerox 1980
96     13638                                   TDK 4.7GB DVD+RW
97     47109                        SAFCO Folding Chair Trolley

[98 rows x 2 columns]

In [18]:
# 4 . try  to join order and return data both in sql and pandas 

k = pd.DataFrame(df_data1[['Order ID', 'Product Name']])
l = pd.DataFrame(df_data2['Order ID'])
pd.merge(k,l)

    Order ID                                       Product Name
0       9895              Dixon My First Ticonderoga Pencil, #2
1      13959                                          Avery 493
2      13959                              EcoTonesÂ® Memo Sheets
3      36038                                          Newell 35
4      39490                  Staples SlimLine Pencil Sharpener
..       ...                                                ...
93      7107  Snap-A-WayÂ® Black Print Carbonless Ruled Speed...
94      7107  Recycled Steel Personal File for Standard File...
95     42823                                         Xerox 1980
96     13638                                   TDK 4.7GB DVD+RW
97     47109                        SAFCO Folding Chair Trolley

[98 rows x 2 columns]

In [26]:
# 5 . Try to find out how many unique customer that we have 

pd.DataFrame(df_data1['Customer Name'].unique())

                    0
0     Janice Fletcher
1       Bonnie Potter
2      Ronnie Proctor
3        Dwight Hwang
4           Leon Gill
...               ...
2698    Marc McDaniel
2699      Marvin Reid
2700    Florence Gold
2701   Frederick Cole
2702    Tammy Buckley

[2703 rows x 1 columns]

In [28]:
# 6 . try to find out in how many regions we are selling a product and who is a manager for a respective region 

prod_unique = pd.DataFrame(df_data1['Product Name'].unique())
k = pd.DataFrame(df_data1[['Region', 'Product Name']])
l = pd.DataFrame(df_data3[['Region', 'Manager']])
managers = pd.merge(k,l, on = "Region")
managers

       Region                                       Product Name Manager
0     Central                                           Avery 49   Chris
1     Central  Howard Miller 12-3/4 Diameter Accuwave DS â„¢ Wa...   Chris
2     Central                                         Newell 321   Chris
3     Central                                         Newell 351   Chris
4     Central           OIC Colored Binder Clips, Assorted Sizes   Chris
...       ...                                                ...     ...
9421    South           Staples Copy Paper (20Lb. and 84 Bright)     Sam
9422    South            O'Sullivan 3-Shelf Heavy-Duty Bookcases     Sam
9423    South                  Logitech Cordless Access Keyboard     Sam
9424    South                      Contemporary Wood/Metal Frame     Sam
9425    South  Universal Premium White Copier/Laser Paper (20...     Sam

[9426 rows x 3 columns]

In [29]:
df_data1

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [43]:
df_data1.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID'],
      dtype='object')

In [42]:
# 7 . find out how many different differnet shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset 

k = pd.DataFrame(df_data1['Ship Mode'])
Reg_Air = (len(k[k['Ship Mode'] == 'Regular Air'])/len(k))*100
Express_Air = (len(k[k['Ship Mode'] == 'Express Air'])/len(k))*100
Delivery_Truck = (len(k[k['Ship Mode'] == 'Delivery Truck'])/len(k))*100
print('Mode : Regular mode percentage : ',Reg_Air,'\n','Mode : Express Air Percentage : ',Express_Air,'\n','Mode : Delivery Truck : ',Delivery_Truck)

Mode : Regular mode percentage :  74.64460004243581
 Mode : Express Air Percentage :  11.744112030553786
 Mode : Delivery Truck :  13.611287927010396

In [40]:
df_data1['Ship Mode'].unique()

array(['Regular Air', 'Express Air', 'Delivery Truck'], dtype=object)

In [133]:
# 8 . Create a new coulmn and try to find out a diffrence between order date and shipment date

df_data1['Delivery Time(days)'] = df_data1['Ship Date'] - df_data1['Order Date']
type(df_data1['Delivery Time(days)'][0])
df_data1['Delivery Time(days)']

0      2 days
1      1 days
2      1 days
3      1 days
4      0 days
        ...
9421   1 days
9422   0 days
9423   2 days
9424   3 days
9425   2 days
Name: Delivery Time(days), Length: 9426, dtype: timedelta64[ns]

In [ ]:
# Other approach

df_data1['Delivery Time(days)'] = df_data1['Ship Date'].dt.day - df_data1['Order Date'].dt.day

In [51]:
# 9 . base on question number 8 find out for which order id we have shipment duration more than 10 days 

# Converting time delta format to str/object
df_data1['Delivery Time(days)'] = df_data1['Delivery Time(days)'].astype(str)

# Strip "days" from Delivery_Time column
df_data1['Delivery Time(days)'] = df_data1['Delivery Time(days)'].str.replace('days', "")

# Converting to int format to perform operations
df_data1['Delivery Time(days)'] = df_data1['Delivery Time(days)'].astype(int)

df_data1[df_data1['Delivery Time(days)'] > 10]

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Delivery Time(days)
643,18246,Critical,0.05,11.09,5.25,250,Brenda Nelson Blanchard,Regular Air,Corporate,Office Supplies,...,Minnesota,Richfield,55423,2011-12-29,2012-03-22,58.5000,19,204.67,87215,84
1548,23091,Medium,0.04,100.98,7.18,595,Dana Desai,Regular Air,Small Business,Technology,...,Indiana,Bloomington,47401,2011-12-30,2012-01-10,375.7050,6,587.46,86318,11
1549,23092,Medium,0.09,6.48,7.49,595,Dana Desai,Express Air,Small Business,Office Supplies,...,Indiana,Bloomington,47401,2011-12-30,2012-01-14,-47.3950,12,79.37,86318,15
1678,20703,Not Specified,0.07,130.98,30.00,637,Christopher Bryant,Delivery Truck,Consumer,Furniture,...,California,Santa Clara,95051,2011-12-30,2012-01-16,-211.8850,21,2699.94,87957,17
1679,20704,Not Specified,0.09,55.98,4.86,637,Christopher Bryant,Regular Air,Consumer,Office Supplies,...,California,Santa Clara,95051,2011-12-30,2012-01-10,355.0119,10,514.51,87957,11
1680,20705,Not Specified,0.08,115.99,4.23,637,Christopher Bryant,Regular Air,Consumer,Technology,...,California,Santa Clara,95051,2011-12-30,2012-01-27,1021.4001,16,1480.29,87957,28
1697,2703,Not Specified,0.07,130.98,30.00,640,Neal Wolfe,Delivery Truck,Consumer,Furniture,...,Washington,Seattle,98119,2011-12-30,2012-01-16,-423.7700,83,10671.20,19556,17
1698,2704,Not Specified,0.09,55.98,4.86,640,Neal Wolfe,Regular Air,Consumer,Office Supplies,...,Washington,Seattle,98119,2011-12-30,2012-01-10,469.6900,41,2109.51,19556,11
1699,2705,Not Specified,0.08,115.99,4.23,640,Neal Wolfe,Regular Air,Consumer,Technology,...,Washington,Seattle,98119,2011-12-30,2012-01-27,727.3620,65,6013.69,19556,28
2515,18060,Low,0.02,2.21,1.00,964,Virginia Rivera,Regular Air,Home Office,Office Supplies,...,California,Redwood City,94061,2011-12-30,2012-03-31,5.8200,10,22.35,86177,92
5548,21603,Not Specified,0.02,5.58,1.99,2048,Ricky Dougherty,Regular Air,Consumer,Office Supplies,...,South Dakota,Brookings,57006,2011-12-30,2012-01-13,66.2250,21,121.51,88223,14
5673,19005,Low,0.06,65.99,2.50,2088,Carrie Boyle,Regular Air,Corporate,Technology,...,New York,Mount Vernon,10550,2011-12-28,2012-01-14,187.4880,8,451.34,88352,17
5859,24392,Low,0.05,29.89,1.99,2143,Lester Sawyer,Regular Air,Home Office,Technology,...,Virginia,Fairfax,20151,2011-12-26,2012-01-17,4230.2001,12,344.16,87572,22
5881,21257,Low,0.05,7.99,5.03,2153,Anna Glenn,Regular Air,Home Office,Technology,...,California,Pasadena,91104,2011-12-26,2012-01-19,-23.4520,2,15.56,91294,24
8607,26351,Medium,0.00,8.32,2.38,3119,Jay Hubbard,Express Air,Corporate,Technology,...,Florida,Orlando,32839,2011-12-29,2012-01-16,-1075.3960,19,170.62,86434,18
8609,26350,Medium,0.07,180.98,55.24,3119,Jay Hubbard,Delivery Truck,Corporate,Office Supplies,...,Florida,Orlando,32839,2013-12-29,2014-01-15,-147.5180,25,4529.95,86436,17
8610,26352,Medium,0.06,4.20,2.26,3119,Jay Hubbard,Regular Air,Corporate,Office Supplies,...,Florida,Orlando,32839,2013-12-29,2014-01-17,-689.8738,2,9.64,86436,19
8973,20750,Low,0.06,125.99,8.08,3248,Earl Donnelly,Express Air,Corporate,Technology,...,Louisiana,Slidell,70458,2011-12-26,2012-01-14,2.4780,20,2180.31,87300,19
8982,2748,Low,0.03,11.97,5.81,3251,Peter Brooks,Regular Air,Corporate,Office Supplies,...,New York,New York City,10112,2011-12-26,2012-01-22,-31.7400,31,388.52,19841,27
8983,2749,Low,0.08,195.99,4.20,3251,Peter Brooks,Regular Air,Corporate,Technology,...,New York,New York City,10112,2011-12-26,2012-01-26,-557.9530,13,2092.05,19841,31
8993,2750,Low,0.06,125.99,8.08,3251,Peter Brooks,Express Air,Corporate,Technology,...,New York,New York City,10112,2013-12-26,2014-01-14,1304.5590,86,9375.35,19841,19
8996,20748,Low,0.03,11.97,5.81,3252,Milton Harrell,Regular Air,Corporate,Office Supplies,...,New York,Rotterdam,12306,2011-12-26,2012-01-22,-15.8700,8,100.26,87300,27
8997,20749,Low,0.08,195.99,4.20,3252,Milton Harrell,Regular Air,Corporate,Technology,...,New York,Rotterdam,12306,2011-12-26,2012-01-26,-278.9765,3,482.78,87300,31

In [68]:
# 10 . Try to find out a list of a returned order which sihpment duration was more then 15 days and find out that region manager as well 

# Inner join to find common orders
return_orders = pd.merge(df_data1, df_data2, how='inner')

# finding number of days
return_orders['Delivery_Time(days)'] = df_data1['Ship Date'] - df_data1['Order Date']

# converting column to str/obj type
return_orders['Delivery_Time(days)'] = return_orders['Delivery_Time(days)'].astype(str)

return_orders['Delivery_Time(days)']

# Removing the substring day
return_orders['Delivery_Time(days)'] = return_orders['Delivery_Time(days)'].str.replace('days','')

# Converting to int to perform operations
# Removing the substring day
return_orders['Delivery_Time(days)'] = return_orders['Delivery_Time(days)'].astype(int)

return_orders[return_orders['Delivery_Time(days)'] > 15]

Empty DataFrame
Columns: [Row ID, Order Priority, Discount, Unit Price, Shipping Cost, Customer ID, Customer Name, Ship Mode, Customer Segment, Product Category, Product Sub-Category, Product Container, Product Name, Product Base Margin, Region, State or Province, City, Postal Code, Order Date, Ship Date, Profit, Quantity ordered new, Sales, Order ID, Delivery Time(days), Status, Delivery_Time(days)]
Index: []

[0 rows x 27 columns]

In [79]:
# 11 . Gorup by region and find out which region is more profitable 

max_profit_region = df_data1[['Region', 'Profit']].groupby('Region').sum().reset_index()
max_profit_region[max_profit_region['Profit'] == max(max_profit_region['Profit'])]

    Region         Profit
0  Central  519825.567067

In [84]:
# 12 . Try to find out overalll in which country we are giving more didscount 

max_discount_country = df_data1[['State or Province', 'Discount']].groupby('State or Province').sum().reset_index()
max_discount_country[max_discount_country['Discount'] == max(max_discount_country['Discount'])]

  State or Province  Discount
3        California     52.28

In [89]:
# 13 . Give me a list of unique postal code 

postal_codes = []
for i in df_data1['Postal Code'].unique():
    postal_codes.append(i)
    
print(postal_codes)

[60101, 98221, 91776, 95123, 2724, 3110, 8101, 8109, 7203, 2907, 55372, 11787, 13210, 59405, 59601, 59801, 68005, 10012, 92653, 92677, 92530, 92630, 90712, 93534, 90260, 97405, 97526, 97030, 97123, 97303, 62002, 98373, 98052, 75019, 23834, 62701, 60107, 60477, 14150, 12180, 77642, 75080, 77471, 78664, 75088, 24153, 94043, 92563, 94559, 10177, 2917, 5401, 4070, 2331, 8830, 8701, 7470, 7481, 5201, 97035, 44708, 45231, 44105, 95687, 5451, 94591, 70056, 22102, 60601, 66209, 66215, 66502, 66062, 6510, 4401, 4005, 2129, 2038, 1852, 1752, 2067, 3820, 8618, 7644, 7110, 8861, 7095, 2895, 97128, 97504, 98103, 84118, 84041, 93277, 76903, 78207, 60004, 94952, 1510, 1106, 1880, 6401, 6360, 2664, 15122, 76148, 5439, 5403, 37664, 37918, 37086, 37087, 80525, 80817, 60452, 76131, 98059, 99352, 37804, 70802, 4092, 7024, 76240, 98158, 78415, 94122, 4011, 4240, 2474, 2540, 1580, 3038, 60505, 84043, 84321, 66212, 48138, 85335, 74006, 75217, 77536, 90660, 13501, 11580, 63114, 84044, 84047, 84107, 60453, 2021, 2766, 7101, 28227, 60302, 60462, 50208, 80027, 66203, 81503, 80634, 37922, 38109, 55423, 55901, 55113, 80126, 80232, 17331, 33772, 87505, 12208, 44106, 43229, 78589, 86001, 85234, 85301, 30297, 28204, 6824, 6111, 6226, 7109, 66614, 67212, 80538, 80233, 80134, 6830, 6770, 6855, 4073, 1069, 2725, 21234, 21128, 21208, 20854, 98115, 91945, 94404, 60130, 1007, 7111, 8052, 21133, 60510, 3045, 7410, 97045, 97206, 44221, 6478, 33181, 4101, 3246, 3101, 7010, 2878, 33132, 13601, 85338, 86401, 19406, 93727, 4072, 7628, 7071, 2816, 2910, 2886, 94601, 2149, 1840, 48234, 37814, 62223, 61008, 61701, 60440, 19026, 68025, 68801, 68847, 68502, 48509, 63105, 13021, 13905, 28001, 45406, 43015, 95240, 90805, 4901, 8360, 78666, 7026, 93405, 94403, 2358, 7201, 7032, 7666, 68104, 89701, 94583, 92704, 6010, 6108, 4330, 1462, 2370, 7047, 7480, 61801, 68701, 56301, 94024, 93635, 95032, 90266, 1923, 2457, 3054, 8332, 90069, 92683, 90604, 2019, 1915, 2341, 7506, 8601, 30318, 1845, 39180, 11704, 11795, 60543, 95020, 4106, 2062, 7042, 10154, 24281, 37130, 84404, 84057, 55416, 46041, 42104, 41011, 95336, 4038, 2148, 8753, 76067, 11226, 97756, 85204, 85737, 84062, 64064, 63043, 22025, 60061, 93101, 95051, 26501, 88201, 78155, 75090, 90008, 68046, 84604, 60067, 60068, 60087, 60185, 75081, 60187, 60090, 39701, 89015, 61554, 61604, 91767, 6415, 4210, 2032, 1801, 3301, 8021, 7031, 7054, 60091, 60517, 46016, 47401, 46032, 47201, 21136, 81001, 90045, 14224, 10605, 10701, 97301, 97477, 97224, 81007, 48195, 5701, 43952, 20852, 20602, 55106, 55378, 95062, 93454, 98119, 60544, 62301, 55379, 60089, 89115, 91730, 2116, 1540, 77373, 37211, 75203, 52501, 64133, 63301, 64506, 98387, 99207, 98408, 77478, 63116, 63376, 80229, 80030, 46307, 46312, 98105, 90041, 90405, 95404, 95070, 6040, 6460, 6850, 6702, 1520, 2152, 7067, 2840, 48841, 89031, 89041, 41042, 6614, 1803, 1420, 1089, 2190, 3053, 3079, 7003, 7016, 7039, 8232, 7901, 85345, 85023, 60423, 40324, 86301, 86314, 97062, 61201, 98661, 14215, 61107, 97068, 18103, 16602, 72143, 92054, 6033, 6484, 6437, 92691, 95351, 6512, 7001, 73064, 27502, 84067, 29915, 84106, 32168, 37830, 42420, 85254, 8046, 99362, 37167, 37174, 79605, 75002, 79109, 71854, 80033, 21222, 6511, 8002, 91745, 93117, 6114, 2210, 1450, 1060, 3839, 92544, 92345, 6405, 6810, 6492, 75503, 77590, 46514, 55126, 89502, 66202, 11575, 85635, 93422, 20746, 76017, 78745, 77520, 77705, 76021, 89431, 20024, 83616, 76201, 33430, 10039, 1887, 7652, 42240, 26003, 78521, 77803, 76028, 96003, 92374, 1463, 7008, 8857, 7050, 7501, 90278, 6776, 2127, 1605, 7002, 2914, 90049, 75482, 75067, 19901, 19711, 94061, 60610, 6105, 2108, 3842, 92503, 95677, 2339, 1841, 7079, 91761, 1718, 1701, 1040, 2151, 7650, 93030, 3431, 7601, 7450, 11720, 60459, 7712, 72022, 28806, 27217, 27511, 66762, 55125, 15221, 11722, 14225, 11725, 27514, 28205, 28027, 27707, 43017, 15102, 95695, 95991, 92399, 90004, 6473, 2109, 7030, 85351, 85374, 3060, 2864, 11727, 10573, 60409, 62901, 18018, 60441, 60174, 60193, 60076, 11729, 11746, 8816, 8817, 7646, 65721, 10282, 18040, 75220, 77566, 75146, 78041, 77573, 80004, 85281, 85705, 85364, 72714, 72015, 92592, 95661, 75116, 78852, 78539, 2118, 79907, 76039, 75234, 60188, 75056, 77381, 75701, 77901, 76706, 75165, 76086, 6611, 1821, 1056, 1075, 7801, 90640, 1876, 7086, 3801, 7407, 8226, 7070, 19805, 32701, 2040, 10280, 27237, 84660, 84663, 35756, 92646, 90301, 6050, 6790, 20016, 34142, 1108, 1776, 7843, 2920, 32712, 46806, 46404, 46530, 97420, 19013, 2112, 1906, 2451, 7052, 2861, 19140, 98801, 75028, 76106, 75007, 75104, 78613, 36830, 35020, 78641, 10009, 75057, 60110, 61821, 77530, 76031, 80013, 80303, 40422, 80020, 80104, 80906, 73521, 33433, 33437, 34210, 91941, 1930, 8401, 7097, 46142, 46324, 47591, 19134, 15241, 6320, 47274, 1749, 2153, 33180, 75601, 84074, 98902, 25314, 82604, 84084, 84120, 60623, 11554, 90058, 80022, 80219, 77840, 2478, 1453, 2744, 8302, 8028, 7940, 62234, 10170, 17201, 77546, 33511, 33063, 33055, 78596, 76308, 52761, 48101, 32707, 79424, 75901, 76063, 75098, 95207, 6408, 2703, 1832, 22304, 46342, 46203, 94025, 94086, 91360, 1027, 1867, 8863, 60653, 48104, 49017, 48708, 84003, 92553, 95037, 2113, 47130, 46901, 47905, 28031, 44112, 80112, 21146, 20901, 44035, 44117, 65807, 63130, 63135, 16509, 17112, 96150, 6795, 2638, 8901, 97801, 29687, 46226, 46952, 46410, 68601, 84010, 84015, 43081, 44145, 44691, 82001, 82716, 33134, 53110, 60016, 60516, 46360, 10045, 94044, 32137, 59901, 14901, 33065, 60478, 46544, 47302, 47150, 62205, 6488, 6710, 1545, 2072, 55305, 35211, 35601, 27288, 92262, 63385, 92253, 78363, 33314, 32114, 46060, 46368, 47374, 39530, 39056, 38701, 39503, 22003, 22204, 24060, 78501, 75150, 33441, 32720, 60123, 45385, 28314, 28307, 6607, 77571, 63044, 44094, 44511, 25705, 82070, 68901, 20601, 11598, 11010, 11520, 95823, 93905, 2445, 1748, 45324, 46322, 97601, 17602, 46375, 11542, 10528, 37743, 74012, 77095, 39401, 38637, 39212, 92404, 94070, 6901, 11714, 60098, 27203, 98072, 90503, 15131, 33403, 33445, 22015, 22901, 23320, 67114, 25801, 45014, 45840, 60611, 77301, 60007, 20190, 72701, 72903, 71901, 19057, 39301, 44118, 19464, 30062, 30907, 30265, 49534, 27529, 35473, 72401, 72209, 92037, 43026, 45424, 44240, 45429, 83843, 88310, 20012, 11550, 28052, 27534, 27405, 27834, 75034, 30305, 73034, 73703, 73505, 73110, 90036, 79701, 95376, 1607, 32725, 34698, 63141, 60126, 60201, 61032, 32780, 46614, 47802, 46383, 47906, 50010, 92672, 92105, 1945, 30188, 59102, 61401, 60137, 94110, 50021, 52722, 63119, 26101, 36330, 90032, 38654, 39208, 48187, 49236, 48126, 48127, 33178, 11801, 52601, 50613, 52402, 15146, 38671, 1810, 2334, 1469, 43230, 1886, 11741, 35630, 92008, 6443, 2110, 1826, 2035, 2169, 1550, 1570, 7080, 7090, 2808, 87105, 94306, 22193, 24541, 1519, 7036, 7055, 2806, 14217, 43130, 45801, 54915, 1028, 2186, 44052, 44903, 30269, 95969, 72113, 72450, 71603, 91104, 6030, 2351, 29611, 29651, 28601, 75043, 78626, 75051, 76051, 66801, 84020, 72756, 15228, 59715, 59750, 55066, 35160, 33916, 48066, 48073, 48601, 48080, 49455, 52732, 12047, 38801, 19090, 48227, 48823, 80122, 80501, 84117, 84037, 43302, 45040, 11758, 77070, 23666, 22801, 81301, 48034, 48310, 51503, 19401, 15235, 19143, 15239, 79072, 48021, 44017, 53005, 75401, 32174, 32765, 32905, 10550, 28352, 44646, 67901, 69101, 57006, 24501, 88220, 27260, 23111, 23602, 28079, 41075, 48336, 48505, 48135, 65203, 3051, 14853, 44236, 72801, 47362, 10956, 10801, 35904, 95928, 29464, 29577, 29406, 29730, 52803, 50315, 52001, 63129, 28540, 28081, 28110, 23518, 22124, 76117, 76543, 72116, 72762, 72301, 2324, 63031, 64118, 63042, 64055, 88101, 33407, 53094, 20151, 33311, 40214, 40356, 48180, 48098, 48093, 48329, 48185, 49509, 55124, 16146, 2532, 2026, 2018, 7011, 42301, 91911, 1721, 1013, 1610, 2852, 55434, 65109, 28115, 28560, 14701, 11756, 11757, 55420, 55429, 55445, 55337, 50501, 52240, 30337, 20814, 20715, 21228, 77015, 44256, 34787, 87401, 88240, 19087, 95610, 91711, 2048, 33801, 19120, 34639, 11561, 19601, 18504, 16801, 18705, 42003, 27604, 27801, 30161, 30076, 64804, 64130, 63122, 39560, 29662, 78550, 77036, 14304, 14120, 15601, 54703, 53713, 53132, 29301, 29483, 55433, 55016, 2456, 7017, 7040, 34683, 32404, 10011, 57201, 53150, 33971, 6374, 92236, 1440, 2420, 52302, 54302, 53220, 53545, 20735, 20740, 60139, 60025, 40258, 40475, 71301, 21044, 21114, 21501, 21040, 82901, 33917, 34982, 32259, 77340, 33024, 55803, 55122, 55343, 60031, 49505, 49423, 10024, 88001, 87124, 11572, 30328, 31401, 60103, 52241, 92804, 94509, 60699, 2718, 7960, 60035, 60194, 60432, 6074, 23805, 23701, 23223, 76053, 75061, 76248, 44107, 76541, 73160, 20004, 32935, 32953, 33142, 1938, 55410, 53142, 35209, 35244, 35810, 36608, 55014, 55432, 10035, 71111, 49783, 28144, 27360, 27587, 60901, 30080, 30458, 70364, 70065, 70506, 33881, 30084, 72023, 94521, 92627, 6457, 1913, 7205, 92024, 60102, 46321, 77489, 94015, 2111, 2138, 7631, 7740, 2863, 2908, 75109, 36203, 70601, 92307, 2492, 32789, 32708, 10580, 24017, 22153, 23434, 23464, 90068, 43213, 17403, 54601, 53711, 54220, 44060, 10562, 11803, 55076, 98144, 94526, 95616, 10165, 36116, 36801, 36869, 36067, 35401, 48141, 49201, 53051, 53209, 31707, 30605, 6450, 7621, 8871, 2184, 2777, 49002, 57401, 10004, 57103, 38134, 37027, 28403, 74403, 73071, 73120, 74055, 22601, 31088, 83704, 33023, 83701, 74601, 93309, 15234, 67037, 30904, 31907, 30721, 2471, 8865, 7076, 46350, 57701, 37620, 26301, 98002, 22980, 72956, 33952, 35216, 85323, 86442, 85704, 83501, 32503, 32808, 33566, 60131, 21042, 21221, 49001, 49508, 48911, 60438, 30135, 37421, 37042, 98006, 98226, 98011, 98310, 94568, 6241, 1757, 83605, 48146, 48154, 85224, 10115, 29801, 70072, 33317, 34759, 48205, 6708, 2050, 2891, 30338, 30344, 20877, 27893, 58501, 97071, 74801, 74074, 70003, 48071, 48640, 50158, 50401, 51106, 90022, 1901, 1950, 7083, 37311, 45042, 43055, 71203, 92020, 92243, 33161, 55044, 56001, 74133, 97321, 33160, 21061, 21740, 38017, 38401, 79762, 98146, 98198, 98026, 32601, 62040, 67601, 68128, 75460, 77506, 98208, 98023, 98027, 33012, 44070, 98107, 34287, 28206, 44039, 44133, 44134, 43068, 55369, 30809, 30501, 44125, 58103, 58201, 58701, 50322, 50701, 50265, 33021, 60603, 20707, 29624, 29418, 95630, 2215, 2719, 2345, 2180, 48858, 14043, 98042, 43123, 55119, 55407, 54956, 21220, 43050, 33030, 32216, 53151, 53154, 54901, 58601, 44870, 45503, 55345, 67801, 67846, 53402, 53081, 49442, 48375, 48237, 48342, 48060, 83814, 83402, 56560, 14609, 13440, 2145, 7065, 10583, 99336, 98031, 97007, 97005, 97701, 60148, 58554, 97330, 67501, 66104, 66044, 66048, 94704, 42071, 1742, 2740, 1095, 98034, 98503, 44312, 44515, 55128, 72712, 72032, 90061, 44224, 44136, 43615, 19112, 34239, 16148, 33334, 12306, 45011, 11967, 34761, 83642, 83686, 77041, 83201, 83854, 70560, 70117, 32839, 10013, 60160, 61265, 60056, 71109, 70458, 60060, 60540, 61761, 77581, 78660, 78577, 83440, 92277, 34769, 33710, 32771, 48183, 75023, 33068, 32004, 32127, 34952, 6903, 33458, 55060, 55441, 33569, 54481, 53590, 34609, 94109, 60062, 92025, 95501, 83301, 90210, 37064, 37066, 31313, 33322, 32303, 38138, 37075, 54880, 53186, 54401, 94513, 91505, 7701, 21403, 20906, 10112, 33319, 98632, 98037, 98270, 49221, 45431, 94533, 2364, 7060, 36701, 11703, 98273, 98502, 98444, 29203, 29501, 33156, 34741, 20170, 95746, 7094, 33404, 33411, 33461, 18201, 1001, 1301, 1760, 2563, 1890, 8873, 38301, 37604, 48239, 21113, 33614, 97060, 20006, 48307, 99301, 99163, 92231, 93010, 53213, 53214, 53095, 21215, 45373, 43221, 44483, 20832, 21117, 30144, 30240, 31204, 44512, 43402, 6820, 60014, 61832, 62521, 26554]

In [93]:
# 14 . which customer segement is more profitalble find it out . 

max_profit_customer_segment = df_data1[['Customer Segment', 'Profit']].groupby('Customer Segment').sum().reset_index()
max_profit_customer_segment[max_profit_customer_segment['Profit'] == max(max_profit_customer_segment['Profit'])]

  Customer Segment         Profit
1        Corporate  505538.627783

In [143]:
# 15 . try to find out the 10th most loss making product catagory .

category = df_data1[['Product Category', 'Profit']]
loss = category[category['Profit'] < 0].groupby('Product Category').sum().reset_index()
loss[loss['Profit'] == min(loss['Profit'])]
loss

  Product Category         Profit
0        Furniture -410464.845289
1  Office Supplies -393433.301145
2       Technology -358842.689349

In [141]:
# 16 . Try to find out 10 top  product with highest margins 

a = df_data1[['Product Base Margin', 'Product Name']]
b = pd.DataFrame(a[a['Product Base Margin'] == max(a['Product Base Margin'])])
b

      Product Base Margin                                       Product Name
230                  0.85                   Belkin OmniView SE Rackmount Kit
253                  0.85                                        Accessory27
262                  0.85                                        Accessory27
686                  0.85  Office Impressions Heavy Duty Welded Shelving ...
742                  0.85                                        Accessory27
807                  0.85                                        Accessory27
816                  0.85                                        Accessory27
881                  0.85                  Sterling Rubber Bands by Alliance
963                  0.85                                         Accessory4
976                  0.85                                         Accessory4
1567                 0.85                                        Accessory27
1718                 0.85                                         Accessory4
1723                 0.85                  Sterling Rubber Bands by Alliance
1887                 0.85  Office Impressions Heavy Duty Welded Shelving ...
1918                 0.85  Office Impressions Heavy Duty Welded Shelving ...
2116                 0.85                                        Accessory27
2138                 0.85                  Sterling Rubber Bands by Alliance
3174                 0.85                  Sterling Rubber Bands by Alliance
3428                 0.85                   Belkin OmniView SE Rackmount Kit
3963                 0.85  Office Impressions Heavy Duty Welded Shelving ...
3994                 0.85  Office Impressions Heavy Duty Welded Shelving ...
4015                 0.85                                         Accessory4
4168                 0.85                  Sterling Rubber Bands by Alliance
4632                 0.85                                         Accessory4
4756                 0.85                                         Accessory4
5149                 0.85                                         Accessory4
5180                 0.85                                         Accessory4
5672                 0.85                                         Accessory4
5860                 0.85  Office Impressions Heavy Duty Welded Shelving ...
7112                 0.85                                         Accessory4
7176                 0.85  Office Impressions Heavy Duty Welded Shelving ...
7202                 0.85  Office Impressions Heavy Duty Welded Shelving ...
7607                 0.85                                        Accessory27
7869                 0.85                                         Accessory4
7958                 0.85  Office Impressions Heavy Duty Welded Shelving ...
8077                 0.85                                         Accessory4
8725                 0.85                                         Accessory4
8950                 0.85                   Belkin OmniView SE Rackmount Kit
9145                 0.85                                        Accessory27
9377                 0.85  Office Impressions Heavy Duty Welded Shelving ...

In [140]:
# 16 . Try to find out 10 top  product with highest margins 

highest_product_margin = df_data1[['Product Name', 'Product Base Margin']].groupby('Product Name').mean()
highest_product_margin.sort_values(by='Product Base Margin', ascending=False).head(10)

                                                    Product Base Margin
Product Name
Office Impressions Heavy Duty Welded Shelving &...                 0.85
Accessory27                                                        0.85
Sterling Rubber Bands by Alliance                                  0.85
Belkin OmniView SE Rackmount Kit                                   0.85
Accessory4                                                         0.85
Tennsco Stur-D-Stor Boltless Shelving, 5 Shelve...                 0.84
Tennsco Commercial Shelving                                        0.84
Serrated Blade or Curved Handle Hand Letter Ope...                 0.84
Accessory36                                                        0.83
Eldon Shelf Saversâ„¢ Cubes and Bins                                 0.83